.custom-tooltip {
    width: 70px;
    height: 70px;
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 0;
}
